
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

ApsimX.DA/Docs/html
ApsimX.DA/Models/AssemblyVersion.cs
*MaizeTestModel*
ApsimX.DA/Documentation/html
*.db

ApsimX.DA/Tests/MultiZoneManagement/MultiFieldMultiZoneManagementBasic.db.sum
*.sum
ApsimX.DA/Documents/
ApsimX.DA/Prototypes/SCRUM/Obs/
ApsimX.DA/Prototypes/SCRUM/.ipynb_checkpoints/ParameterListBuilder-checkpoint.ipynb
ApsimX.DA/Prototypes/SCRUM/Crop.xml
ApsimX.DA/Prototypes/SCRUM/SCRUM.apsimx.orig
*.csv
/ApsimX.DA/Prototypes/Grapevine/Observations/PhenoDataObservation - Copy.xlsx


APSIM.Shared/Utility/obj/
APSIM.Shared/Bin/
APSIM.Shared/APSIM.Shared.Soils/obj/
APSIM.Shared/APSIM.Shared.Utility/obj/
APSIM.Shared/obj/Debug/APSIM.Shared.csproj.FileListAbsolute.txt



Doc/